/* put tweaks in here */

h1, h2, h3, .brand {
    color: white;
    font-family: 'Ruda', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #030614;
    color: #bbb;
}

code {
    background-color: #000;
    border-color: #000 #444 #555 #000;
    color: #cc7000;
}