/* Pretty printing styles. Used with prettify.js. */
/* Deep Dark and Lovely */

pre .str, code .str { color: #008899; } /* string  */
pre .kwd, code .kwd { color: #ffffff; } /* keyword */
pre .com, code .com { color: #3E8E8E; font-style: italic; } /* comment */
pre .typ, code .typ { color: #10cdff; } /* type */
pre .pun, code .pun { color: #95d0e0; } /* punctuation */
pre .pln, code .pln { color: #ffffff; } /* plaintext */
pre .tag, code .tag { color: #098daf; } /* html/xml tag */
pre .atn, code .atn { color: #0d67ab; } /* html/xml attribute name */
pre .atv, code .atv { color: #106070; } /* html/xml attribute value */
pre .lit, code .lit { color: #04a6cd; } /* literal */
pre .dec, code .dec { color: #03a7CC; } /* decimal */

pre.no-highlight {
  color:#FFF;
}
pre.no-highlight, pre.prettyprint, code.prettyprint {
	background-color: #221F26;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	-o-border-radius: 0 4px 4px 0;
	-ms-border-radius: 0 4px 4px 0;
	-khtml-border-radius: 0 4px 4px 0;
	border-radius: 4px 4px 4px 4px;
}

pre.no-highlight, pre.prettyprint {
	width: 95%;
	margin: 1em auto;
	padding: 1em;
	white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */

.no-highlight, .prettyprint {
  padding: 8px;
  background-color: #999;
  border:0;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #444, inset 41px 0 0 #333;
     -moz-box-shadow: inset 40px 0 0 #444, inset 41px 0 0 #333;
          box-shadow: inset 40px 0 0 #444, inset 41px 0 0 #333;
          
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
} 
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  color:#999;
  line-height: 18px;
}

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}